#app3 {
}
#app3 .square {
  border: 1px solid red;
  margin-top: 15vh;
  margin-left: 15vh;
  width: 10vw;
  height: 10vw;
  transition: transform 1s;
}
#app3 .square.active {
  transform: translateX(20vw);
}
